<STYLE type="text/css">
body
{
	margin-left: 10%; margin-right: 10%;
	font-family: serif;
	color: black;
	background: white; 
}

H1 {	font-family: Verdana, Helvetica, sans-serif;
	color: #0000FF;
	background-color: #EEE;
	font: 120%;
}

H2,H3 {	font-family: Verdana, Helvetica, sans-serif;
	color: #800000;
	font: 110%;
}

</STYLE>
